# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Build artifacts
*.apk
*.ipa
*.tar.gz
*.aab

# Ignore Google Services in the root, but allow them in our config folders
google-services.json
GoogleService-Info.plist
!config/**/google-services.json
!config/**/GoogleService-Info.plist

# Expo & Metro
.expo-shared/
.expo/
*.jks

# Xcode specific
ios/build/
ios/DerivedData/
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace/
*.xcuserstate
*.xcworkspace
xcuserdata/

# Android specific
android/build/
android/.gradle/
android/app/build/
local.properties

# Missing Build Formats
*.app/
*.app.dSYM.zip
*.dylib
*.framework/

# IDEs
.vscode/
.idea/
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
